footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #aaa;
    padding: 20px 0; 
    border-top: 30px solid #333; 
  }
  
  footer .copyright {
   
    color: white; 
    padding: 10px;
    border-radius: 5px; 
    display: inline-block; 
    margin-top: -30px; 
    border-radius: 5px; 
  }
  
  footer a {
    color: #aaa;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  